<div class="footer-content">
    <div class="footer-left">
        <section>
            <h3>Got Feedback?</h3>
            <p>We would love to hear about your experience using the site!</p> 
            <p>Suggestions for how to improve are always welcome. </p>
            <strong s>Please submit a response below!</strong>
        </section>
        <mat-form-field color="accent" class="name-field" appearance="fill">
            <mat-label>Your Name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="comments-field" color="accent" appearance="fill">
            <mat-label>Comments</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        <button mat-button>Send</button>
    </div>
    <div class="footer-right">

    </div>
</div>
