<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <!-- make sure to add router shit -->
            <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
            <a mat-list-item routerLink="/Categories" (click)="drawer.close()">Categories</a>
            <a mat-list-item routerLink="/about" (click)="drawer.close()">About</a>
            <!-- add login stuff later !! -->
            <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        


    <div class="font-reg">
        <mat-toolbar color="primary" class="flex-space-between mat-typography">
            <!--brand here-->
            <!--insert icon when its done-->
            <span>
                <!-- button that toggles sidenav on handset devices -->
                <button 
                    type="button" 
                    aria-label="Toggle side nav" 
                    mat-icon-button 
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">

                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <img class="nav-logo" style="padding-top: 9px;" src="/assets/nav-logo.png">
            </span>
            <span *ngIf="!(isHandset$ | async)" class="menu-spacer">
                <button class="topnav-btn" mat-button routerLink="/">Home</button>
                <button class="topnav-btn" mat-button routerLink="/categories">Categories </button>
                <button class="topnav-btn" mat-button routerLink="/about">About</button>
            </span>
            <span *ngIf="!(isHandset$ | async)"> 
                <span *ngIf="auth.user$ | async as user; else login" >
                    <button class="topnav-btn" mat-button [matMenuTriggerFor]="usermenu">{{user.displayName}}
                        <img class="profile-img-topbar" style="vertical-align: center;" [src]='user.photoURL'>
                    </button>
                    <mat-menu #usermenu="matMenu">
                        <button mat-menu-item [routerLink]="['/userprofile']">Profile</button>
                        <button mat-menu-item (click)='auth.signOut()'>Logout</button>
                    </mat-menu>
                    
                    <!-- <a [routerLink]="['/userprofile']">
                        <img class="profile-img-topbar" [src]='user.photoURL'>
                    </a> -->
                    <!--else template #login with login btn-->
                    <!-- <img class="profile-img-topbar" style="vertical-align: center;" [src]='user.photoURL'> -->
                </span>
            </span>
        </mat-toolbar>

    <ng-template #login>
        <button mat-button class="login-btn" routerLink="/login" >Log in</button>
        <!-- (click)="auth.googleSignIn()" -->
    </ng-template>
    </div>
<!-- Transclusion -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
