

<!--userfeed template-->
<!--display popular topics from genre's user is following-->
<div class="main-pg ">
    <div class="row ">
        <div class="column-left">
            <h1>Trending Genres</h1>
            <div class="">
                <button mat-button class="da-mat">Sample Text</button>
            </div>
            <div class="">
                <button mat-button class="da-mat">Sample Text</button>
            </div>
            <div class="">
                <button mat-button class="da-mat">Sample Text</button>
            </div>
        </div>

        <div class="column-right">
            <h1>Sample Text</h1>
        </div>
    </div>
<div>

<!--find way for there to be a popular feed of stuff for not logged in users-->

