
<div *ngIf="auth.user$ | async; then loggedIn else guest">
    <!-- template go here lol -->
</div>


<!-- if user is not currently logged in-->
<ng-template #guest>
    <h1>Hey!</h1>
    <p>Log in to make a profile and share about the music you love!</p>
    <button (click)="auth.googleSignIn()">Log in!</button>
</ng-template>

<!--if user is currently logged in-->
<ng-template #loggedIn>
    <div *ngIf="auth.user$ | async as user">
        <div class="container mt-3">
            <div class="card shadow-lg">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h2 >{{user.displayName}}</h2>
                        </div>
                        <img class="mr-2 profile-img" [src]="user.photoURL">
                    </div>
                </div>
                <div class="card-body">
                    <textarea placeholder="input a bio">

                    </textarea>
                </div>
            </div>
        </div>
    </div>
</ng-template>
